.bg-gradient-primary-to-secondary {
    background-color: #eaeff5;
}
.row_producto { min-width: 286px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto!important; 
    margin-right: auto!important;
}
.producto{

margin-bottom: 10px;
margin-left: 10px;
margin-right: 10px;
border-color: #007bff;
border-style: solid;
border-width: 1px;
border-radius: .25rem!important;
background-color: #fff;

}
.img_producto{
	border-radius: .25rem!important;
	width: 100px;
    height: 90px;
	min-width: 60px;
	min-height: 60px;
	margin-left: auto!important;
	margin-right: auto!important;
}
.link_factura{
color: #fff;
background-color: #28a745;
border-radius: 3px;
font-size: 14px;
padding: 4px 3px;
}